name: Test
on: [push]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [Ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    defaults:
      run:
        working-directory: ./seed_inference_tutorial
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install seed2lp
        pip install  git+https://github.com/cfrioux/NetSeedPy.git@main
    - run: seed2lp network sbml/toy-model.xml sbml-norm/ -wf
    - run: netseedpy --sbml sbml-norm/toy-model.xml --format enumeration --max 100
    - run: seed2lp target sbml/toy-model.xml results/s2lp/toy-model/ -so reasoning -m subsetmin -nbs 5 -tl 10 --accumulation
    - run: seed2lp target sbml/toy-model.xml results/s2lp/toy-model/ -so guess_check_div -m subsetmin -nbs 100 -tl 10 --accumulation
    - run: python ./scripts/cobra_seedsearch/cobra_seedsearch.py ./sbml/toy-model.xml ./target/toy-model_targets.txt ./objective/toy-model_target.txt ./results/cobrapy 1
