name: Test
on: [push]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [Ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install seed2lp
        pip install  git+https://github.com/cfrioux/NetSeedPy.git@main
    - name: Test
      run: |
        seed2lp network sbml/toy-model.xml sbml-norm/ -wf
        netseedpy --sbml sbml-norm/toy-model.xml \
          --format enumeration --max 100

        seed2lp target sbml/toy-model.xml results/s2lp/toy-model/ \
            -so reasoning -m subsetmin -nbs 5 -tl 10 \
            --accumulation
        
        seed2lp target sbml/toy-model.xml results/s2lp/toy-model/ \
            -so guess_check_div -m subsetmin \
            -nbs 100 -tl 10 \
            --accumulation
        
        python ./scripts/cobra_seedsearch/cobra_seedsearch.py \
                ./sbml/toy-model.xml ./target/toy-model_targets.txt \
                ./objective/toy-model_target.txt \
                ./results/cobrapy 1
